[project]
	description = Project Euler Solutions in Clojure
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dustin Barker (dstnbrkr)
[access "refs/for/refs/*"]
	read = group user/Dustin Barker (dstnbrkr)
	push = group user/Dustin Barker (dstnbrkr)
	label-Code-Review = -2..+2 group user/Dustin Barker (dstnbrkr)
	label-Verified = -1..+1 group user/Dustin Barker (dstnbrkr)
	rebase = group user/Dustin Barker (dstnbrkr)
	removeReviewer = group user/Dustin Barker (dstnbrkr)
	submit = group user/Dustin Barker (dstnbrkr)
[access "refs/heads/*"]
	read = group user/Dustin Barker (dstnbrkr)
	create = group user/Dustin Barker (dstnbrkr)
	push = +force group user/Dustin Barker (dstnbrkr)
	pushMerge = group user/Dustin Barker (dstnbrkr)
[access "refs/tags/*"]
	push = +force group user/Dustin Barker (dstnbrkr)
	pushTag = group user/Dustin Barker (dstnbrkr)
	pushSignedTag = group user/Dustin Barker (dstnbrkr)
